.instruction > h1:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    line-height: 0;
    margin-left: 1rem;
    background: none repeat scroll 0% 0% #DDE3E8;
}

.instruction > h1 {
    white-space: nowrap;
}

.instruction > h2 {
    text-shadow: 0px 1px rgba(255, 255, 255, 0.3);
    background: linear-gradient(to bottom, #F7F7FA, #F0F0F2) repeat scroll 0% 0% transparent;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #D5D5D5 #D5D5D5 #D1D1D1;
    border-radius: 3px;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.04);
}