doctype html
html

    head
        script(type='text/javascript', src='/vendor/bower_components/requirejs/require.js', data-main='/scripts/main.js')


        link(rel='stylesheet',href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet',href='/css/typeahead.css')


    input(id='search', class='typeahead', type='text', placeholder='Mnemonic')